.norecord{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        margin-top: 100px;
      }

.logo{
    height: 100px;
    width: 101px;
    border-radius: 100px;
    margin: 6px;
}
.sticky-header {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1;
 
}
.sticky-header th {
  font-weight: bold;
  text-align: center;
}
.table-container {
  max-height: 440px; /* Adjust the height as needed */
  overflow: auto;
 
}
.table-container tbody tr td{
  text-align: center;
}

/* zoomable Image  css*/
.zoomable-image {
  position: relative;
  overflow: hidden;
}

.zoomable-image img {
  display: block;
  max-width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.zoomable-image:hover img {
  transform: scale(1.9); /* Increase the scale for zoom effect */
}